/* BODY */
*{
	box-sizing: border-box;
}

body{
	background: white;
	padding:0;
	margin:0;
	font-family: tahoma, sans-serif;
	width: 99vw;
}

section{
	padding-top: 67px;
    width:100%;
    min-height: 95vh;
}

section header {
    text-align: center;
    padding:10px;
}

section header h2{
    margin:0 0 10px 0;
}
    /*Séparateur des header de section*/
    .separateur {
        display: flex;
        justify-content:center;
        align-items: center;
        width: 150px;
        margin: auto;
    }

    .separateur hr{
        width: 55px;
        opacity: .15;
    }

    .separateur div{
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background-color: #5cadd3;
        padding: 0 5px;
    }

h1, h2, h3{
	color: black;
}

p, li, a, a:visited, input, textarea {
	color:#64686d;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

button, input[type="submit"], .affiche {
    color:white;
    background: #5cadd3;
    box-shadow: 0 3px 0 #4494bb;
    border:none;
    font-weight: bold;
}

button, input[type="submit"] {
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
}

#selectionProjet p{cursor: pointer;}

.blue{
	color:#5cadd3;
}

i {font-style: italic;}

/* HEADER */
#entete{
	position: fixed;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	padding: 5px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
}

#entete button{
	margin: 5px;
	padding: 2px 3px;
    background: white;
    color: #4494bb;
    border: solid #4494bb 2px;
    box-shadow: none;
}

#entete nav {
	display:none;
	width:100%;
}

#entete ul {
	margin-left:0;
	padding-left:0;
}

#entete li {
	padding-left: 40px;
}

#entete li:hover, #entete .active{
	border-left: #5cadd3 2px solid;
	padding-left: 38px;
}

/* ACCUEIL */
#carrousel{
	height: 80vh;
    width: 100%;
	overflow: hidden;
	position: absolute;
}
    /*Animation du slider*/
    @keyframes slider{
        0%, 42%, 100% {
            transform: translateX(0%);
        }

        50%, 92%{
            transform: translateX(-50%);
        }
    }

    @keyframes timer{
        0%, 100% {
            width:0;
        }

        83%{
            width:100%;
        }
    }

    /*Background du slider*/
    #background{
        height: 80vh;
        width: 200%;
        position: absolute;
        z-index:-10;
        -webkit-animation: slider 12s linear infinite;
        -moz-animation: slider 12s linear infinite;
        animation: slider 12s linear infinite;
        overflow: hidden;
        display: flex;
    }

    #background div{
        height: 100%;
        width: 50%;
        background-size: cover;
    }

    #photo1{
        background:url(img/bg1.jpg);
    }

    #photo2 {
        background: url(img/bg2.jpg);
    }

    /*Layout*/
    #layout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .chevron{
        color:white;
        background: rgba(0,0,0,.25);
        width: 36px;
        height: 74px;
        display: flex;
        align-items: center;
    }

    .chevron:hover{
        cursor: pointer;
    }

    #previous {
        border-radius: 0 36px 36px 0;
        justify-content: flex-start;
        padding-left: 7px;
    }

    #next {
        border-radius: 36px 0 0 36px;
        justify-content: flex-end;
        padding-right: 7px;
    }

    #presentation {
        text-align: center;
        width: 70vw;
        font-weight: bold;
    }

    #presentation h1, #presentation p{
        color: white;
    }

    #presentation h1 {
        font-size: 2em;
    }

    #presentation button{
        font-size: 1.5em;
        padding:10px;
    }

    /*Timer*/
    #chrono {
        background: rgba(0,0,0,.15);
        width:100%;
        height: 4px;
        margin-top: -4px;
    }

    #chrono div {
        -webkit-animation: timer 6s linear infinite;
        -moz-animation: timer 6s linear infinite;
        animation: timer 6s linear infinite;
        background: #5cadd3;
        height: 100%;
    }

/* SERVICES */
#services img {display: none;}

.service{
	display:flex;
	justify-content: space-between;
    padding: 10px;
    text-align: justify;
}

.service h3{
    margin-top:10px;
    margin-bottom: 0;
    font-size: 1.2em;
}

.service p {
    margin: 0;
    font-size: 0.8em;
}

.service div:last-child{
    flex: 2;
}
	/*Icones*/
	.icones {
		display:flex;
		align-items:center;
	}

	.icones div:first-child{
		width:64px;
		height:64px;
		border: 1px solid rgba(0,0,0,.15);
		border-radius:32px;
		display:flex;
		justify-content: center;
		align-items: center;
	}

	.icones div:last-child{
		content:"";
		width: 22px;
		height: 22px;
		border-radius: 11px;
		border:5px solid white;
		background-color: #5cadd3;
		position:relative;
		left:-11px;
	}

	.fa-size{
		font-size:1.7em;
	}

/* PROJETS */
    /*Barre de selection des projets visibles*/
    #selectionProjet, #selectionProjet+div{
        width: 99%;
       margin: auto;
        display: flex;
    }

    #selectionProjet{
        background: #e5e5e5;
        height: 50px;
        border-radius: 5px;
        margin-top: 20px;
    }

    #selectionProjet p, #selectionProjet+div p {
        text-align: center;
        flex: 1;
    }

    #selectionProjet p{
        font-size: 4vw;
        height: 100%;
        margin: 0;
        padding: 16px 0;
    }

    #selectionProjet+div p {
        margin-top:-5px;
    }

    #selectionProjet+div img:not([data-projet="tous"]){
        display: none;
    }

    p[data-projet="tous"]{border-radius : 5px 0 0 5px;}
    p[data-projet="portfolio"]{border-radius: 0 5px 5px 0;}

    /*Fenêtres de projets*/
    #samples {
        display: flex;
        flex-wrap: wrap ;
        justify-content: center;
        max-width:1300px;
        margin:auto;
    }

    #samples>div {
        background-size: cover;
        width: 300px;
        height: 200px;
        margin:10px;
        display: flex;
        align-items: flex-end;
    }

    #samples>div>div{
        background: black;
        background: rgba(0,0,0,.5);
        width: 100%;
        padding:10px;
        display: none;
    }

    #samples>div>div h3, #samples>div>div p {
        color: white;
        font-size:1em;
        margin:0;
    }

    .oeil {
        background: #5cadd3;
        color: white;
        border:2px solid white;
        border-radius: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        width:40px;
        height: 40px;
        margin-top:-30px;
        margin-left: 240px;
        margin-bottom: -17px;
    }

    /*Arrières-plans*/
    #marx {
        background: url(img/01.jpg);
    }

    #bunny {
        background:url(img/02.jpg);
    }

    #pompadour {
        background: url(img/03.jpg);
    }

    #escher {
        background: url(img/04.jpg);
    }

    #gallery {
        background: url(img/05.jpg);
    }

    #architecture {
        background: url(img/06.jpg);
    }

    #rocket {
        background: url(img/07.jpg);
    }

    #desk {
        background: url(img/08.jpg);
    }

    #burger {
        background: url(img/full.jpg);
    }

/* CONTACT */
#contact{ min-height: 100vh; }

#map, #overlay{
    width: 100%;
    position:absolute;
    left:0;
}

#map{ z-index:0; }

#overlay{
    z-index:50;
    background: rgba(92,173,211,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

form, form p:last-of-type{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
form{
    background: white;
    background: rgba(255,255,255,.8);
    width:90%;
    min-height: 80%;
    max-height: 100%;
    padding:20px;
    overflow: auto;
}

form h1{
    margin:0;
}

form p:last-of-type{
    flex-grow: 2;
}

input[type="text"],input[type="email"], textarea{
    padding-left: 16px;
    padding-right: 16px;
    border: solid 2px #e5e5e5;
    border-radius: 5px;
    min-height: 32px;
    margin: 8px 0;
}

textarea{
    padding-top: 8px;
    flex:10;
}

input[type="submit"]{
    align-self: flex-start;
    min-height:32px;
    margin-top:8px;
}

/* Tablettes */
@media (min-width:768px) {
	/*BODY*/
	section {
		padding-top: 77px;
    }

    section header{
        font-size: 1.2em;
    }

    section header h2 {
        font-size: 1.7em;
        margin-bottom: 10px;
    }

	/*HEADER*/
	#entete{
		flex-wrap: nowrap;
		justify-content:space-around;
		align-items: flex-start;
		padding:10px;
	}

	#entete button{
		display:none;
	}

	#entete nav {
		display:initial;
		width:auto;
		height: 77px;
		margin: -10px 10px;
	}

	#entete ul {
		display: flex;
		justify-content: space-around;
		height:100%;
		margin:0;
		padding-top: 0;
	}

	#entete li {
		margin: 0;
		text-align: center;
		padding: 27px 20px;
	}

	#entete li:hover, #entete .active{
		border-top: #5cadd3 4px solid;
		border-left: none;
		padding: 23px 20px;
	}
	
	/*ACCUEIL*/
        /*Layout*/
        .chevron{
            width: 46px;
            height: 92px;
        }

        #previous {
            border-radius: 0 46px 46px 0;
        }

        #next {
            border-radius: 46px 0 0 46px;
        }

	/*SERVICES*/
    #services>div{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        margin-top: 5vh;
    }

	#services img {display: initial;}

    .service {
        padding: 20px;
    }

    .service p{
        font-size: 1em;
    }

    /*PROJET*/
        /*Barre de selection des projets visibles*/
        #selectionProjet, #selectionProjet+div{
            width: 450px;
        }

        #selectionProjet p{
            font-size:1em;
        }

	/*CONTACT*/
    #overlay {justify-content: flex-end;}
    form {
        width: 40%;
        margin-right:5%;
    }
}

/* Ordinateur */
@media (min-width: 992px) {
	/*BODY*/
	section {
		padding-top: 90px;
	}

    section header{
        width:75vw;
        margin: auto;
    }

	/*HEADER*/
	#entete{
		padding:20px;
	}

	#entete nav {
		height: 90px;
		margin: -20px 10px;
	}

	#entete li {
		padding: 37px 20px;
	}

	#entete li:hover, #entete .active{
		border-top: #5cadd3 4px solid;
		padding: 33px 20px;
	}

	/*ACCUEIL*/
        /*Layout*/
        #presentation {
            text-align: left;
            padding-right: 20vw;
        }

        #presentation h1 {
            font-size: 2.3em;
        }
	/*SERVICES*/
    #services>div{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
    }

    #services img {
        min-height: 319px;
        min-width: 510px;
    }

	/*CONTACT*/
    form {
        width: 35%;
    }
}

/* Grande resolution */
@media (min-width: 1200px) {
	/*BODY*/
    section header{
        width:50vw;
    }

	/*HEADER*/
	#entete li{
		font-size: 1.3em;
	}
	/*ACCUEIL*/
        /*Layout*/
        #presentation {
            padding-right: 33vw;
        }

	/*SERVICES*/
    #services>div{
        width:75vw;
        margin: 10vh auto;
    }

	/*CONTACT*/
    form {
        width: 25%;
        margin-right:10%;
    }
}